.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: coral;
    width: fit-content;
    min-width: 8rem;
    font-weight: 700 !important;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:active {
        transform: scale(0.95);
    }

    &.positive {
        background: limeGreen;
    }

    &.negative {
        background: red;
    }
}

.squareItem {
    width: 12vw;
    height: 12vw;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all 0.1s ease-in-out;

    &.activeSquare {
        transform: scale(1.1);
        display: none;
    }
}

@media (max-width: 550px) {
    .squareItem {
        width: 15vw;
        height: 15vw;
    }
}

.slider {
    width: 100%;
    appearance: none;
    height: 13px;
    border-radius: 6px;
    background: honeydew;
    outline: none;
    padding: 0;
    margin: 0;
    &::-webkit-slider-thumb {
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #7a00ff;
        cursor: pointer;
    }
}

.alert__container {
    position: relative;
    height: 2rem;
    width: 100vw;
    margin: .5rem 0;

    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        font-size: 1.5rem;
        padding: 0 auto;
        background: red;

        &.hide {
            transition: top 2s ease-in-out, opacity 1s linear;
            top: -40px;
            opacity: 0;
        }
    }
}
