$liveLeft: rgba(255, 4, 4, 0.61);
$livesLost: black;

.app {
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    padding: 0 2rem;
}

// sections styles
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    .title {
        font-size: 3rem;
    }
    .settings {
        position: absolute;
        top: 4rem;
        right: 0;

        &.hide {
            display: none;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    * {
        font-weight: 300;
    }

    .info {
        .hearts__container {
            position: relative;
            margin-top: 1rem;
            font-size: 2rem;

            .healthy__hearts__container,
            .sick__hearts__container {
                display: flex;
                justify-content: flex-start;
                gap: 0.5rem;
                position: absolute;
                top: 0;
                left: 0;
                .infinity {
                    font-size: unset;
                    color: $livesLost;
                    margin: 0 1rem;
                }
            }

            .healthy_heart {
                color: $liveLeft;
            }
            .sick_heart {
                color: $livesLost;
            }
        }
        .time {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-top: 4rem;
        }
        .infinity {
            font-size: 1.5rem;
        }
    }

    .squares {
        display: flex;
        justify-content: center;
        gap: 1.75rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .activeSquare {
            transform: scale(1.1);
        }
    }
}
