$liveLeft: rgb(255, 4, 4);
$livesLost: black;

.background {
    .bg {
        animation: slide 5s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(251, 255, 2) 5%, #09f 60%);
        bottom: 0;
        left: -50%;
        opacity: 0.5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }
}

.app {
    display: relative;
    height: 100vh;
    width: 100vw;
    padding: 0 2rem;
    opacity: 0.9;
}

// sections styles
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
    .title {
        font-size: 3rem;
    }

    .button__container {
        margin: auto;
        margin-right: unset;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    * {
        font-weight: 300;
    }

    .info {
        .hearts__container {
            position: relative;
            margin-top: 1rem;
            font-size: 2rem;

            .healthy__hearts__container,
            .sick__hearts__container {
                display: flex;
                justify-content: flex-start;
                gap: 0.5rem;
                position: absolute;
                top: 0;
                left: 0;
                .infinity {
                    font-size: unset;
                    color: $livesLost;
                    margin: 0 0.5rem;
                }
            }

            .healthy_heart {
                color: $liveLeft;
            }
            .sick_heart {
                color: $livesLost;
            }
        }
        .time {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-top: 4rem;
        }
        .infinity {
            font-size: 1.5rem;
        }
    }

    .squares {
        display: flex;
        justify-content: center;
        gap: 1.75rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .activeSquare {
            transform: scale(1.1);
        }
    }
}
