.app {
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    padding: 0 2rem;
}

// sections styles
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    .title {
        font-size: 3rem;
    }
    .settings {
        position: absolute;
        top: 4rem;
        right: 0;

        &.hide {
            display: none;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    * {
        font-weight: 300;
    }

    .lives__container {
        display: flex;
        justify-content: flex-start;
        gap: .5rem;
        margin-top: 1rem;
        color: red;
    }
    .squares {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .activeSquare {
            transform: scale(1.1);
        }
    }
}

