.settings__section {
    border: 2px solid white;
    // width: 30rem;
    // height: 15rem;
    padding: 2rem;
    background: radial-gradient(rgb(110, 181, 184), rgb(40, 77, 78));
}

.settings__container {
    margin-bottom: 1rem;
    .setting {
        display: grid;
        grid-template-columns: 1fr 10px 1fr;
        grid-gap: 1rem;
        margin-bottom: 0.25rem;
        .text {
            text-align: right;
            text-transform: capitalize;
            font-weight: 300;
        }
        .value {
            display: flex;
            justify-content: center;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}